/* Common Section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

/* ...................................................... */

/* Top NavBar */
.top-navbar {
  background-color: #01539d;
}

.top-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.icon {
  background-color: #ffdd1e;
  color: #01539d;
  border: 2px solid #ffdd1e;
  border-radius: 50%;
}

.contact-info span {
  color: #ffdd1e;
}

.top-navbar-links {
  display: flex;
  gap: 30px;
}

.top-navbar-links a {
  font-weight: 300;
  transition: color 0.3s;
  color: white;
}

.top-navbar-links a:hover {
  color: #ffdd1e;
}

/* ...................................................... */

/* Main NavBar */
.main-navbar {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.main-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 60px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-links li {
  font-size: 16px;
  font-weight: 500;
}

.nav-links a {
  padding: 10px 15px;
}

.nav-links a:hover {
  background-color: #f7f5f5;
  border-radius: 20px;
}

.btn-contact {
  border: 2px solid rgb(243, 243, 5);
  border-radius: 30px;
  font-weight: 500;
}

/* Menu */
.menu {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.menu i {
  color: #01539d;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 0;
  }

  .nav-links li {
    width: 100%;
    gap: 30px;
    text-align: center;
  }

  .nav-links a {
    width: 100%;
    gap: 30px;
    padding: 10px 20px;
  }
  .nav-links li:first-chil i {
    display: none;
  }

  .menu {
    display: block;
  }

  .nav-links.active {
    display: flex;
  }
}

@media (max-width: 480px) {
  .logo img {
    height: 40px;
  }
  .nav-links li:first-child i {
    display: none;
  }
}

/* ...................................................... */
/* Header Section */
.header-section {
  background-image: url("/img/header1.png");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  height: 100%;
}

.header-content {
  flex: 1 1 500px;
}

.text {
  font-size: 22px;
  font-weight: 500;
  color: #ffdd1e;
}

.header-content h1 {
  font-size: 48px;
  font-weight: 700;
  color: #ffdd1e;
}

.header-content h2 {
  font-size: 26px;
  font-weight: 500;
}

.header-content h3 {
  font-size: 62px;
  font-weight: 700;
  color: #fdfcfb;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 30px;
}

.feature-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.feature-list i {
  color: #ffdd1e;
  font-size: 20px;
}

.header-image {
  flex: 1 1 400px;
  text-align: center;
}

.header-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  margin-bottom: -28px;
}

.carousel-indicators {
  display: flex;
  justify-content: start;
  margin-top: 10px;
}

.indicator {
  width: 30px;
  height: 3px;
  background-color: #ccc;
  border-radius: 70px;
  border: none;
  margin: 0 5px;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    text-align: center;
  }

  .header-content {
    flex: none;
    width: 100%;
  }

  .header-content h1 {
    font-size: 36px;
  }

  .header-content h3 {
    font-size: 40px;
  }

  .header-image img {
    width: 100%;
    max-width: 400px;
  }

  .feature-list li {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .header-content h1 {
    font-size: 28px;
  }

  .header-content h3 {
    font-size: 34px;
  }

  .header-image img {
    width: 100%;
    max-width: 330px;
  }

  .feature-list li {
    font-size: 12px;
  }
}

/* ...................................................... */

/* Section 1 */
.section-content-1 {
  text-align: center;
  width: 100%;
}

.section-content-1 h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.section-content-1 p {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
}

.stats-section {
  text-align: center;
  padding: 90px 20px;
  background-color: #fff;
}

.stats-section h2 {
  text-align: start;
  font-size: 40px;
  font-weight: 700;
  color: #1d4e89;
  margin-left: 40px;
  margin-top: 70px;
}

.stats-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 60px 0;
}

.stats-img img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

.pp {
  text-align: start;
}

.cc {
  display: flex;
  justify-content: start;
  align-items: center;
}

.cc p {
  margin-left: 25px;
  font-size: 15px;
}

.stats-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  position: relative;
  flex: 1 1 calc(25% - 15px);
  background-color: #f1f7ff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h1 {
  font-size: 32px;
  font-weight: 700;
  color: #1d4e89;
  display: block;
}

.card p {
  font-weight: 500;
  color: #5e5d5d;
}

/* Corner styles */
.corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: #f8f9fa;
  border-top-right-radius: 20px;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

/* Card colors */
.card:nth-child(1) {
  background-color: #e0f7f9;
}
.card:nth-child(2) {
  background-color: #e9f0ff;
}
.card:nth-child(3) {
  background-color: #fff8eb;
}
.card:nth-child(4) {
  background-color: #fff4f4;
}

/* Specific Colors for Each Card's Corner */
.stats-card:nth-child(1) .corner {
  background-color: #a3f4c0;
}

.stats-card:nth-child(2) .corner {
  background-color: #b3e6ff;
}

.stats-card:nth-child(3) .corner {
  background-color: #ffdb9c;
}

.stats-card:nth-child(4) .corner {
  background-color: #ffc4c4;
}

/* Media Queries */
@media (max-width: 768px) {
  .stats-section h2 {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 50px;
  }

  .stats-cards {
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  .card {
    flex: 1 1 100%;
    margin-bottom: 15px;
  }

  .section-content-1 p {
    font-size: 16px;
  }

  .stats-img {
    padding: 40px 0;
    flex-direction: column;
    align-items: center;
  }

  .stats-img img {
    margin-bottom: 20px;
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .stats-section h2 {
    font-size: 24px;
    margin-left: 10px;
    margin-top: 30px;
  }

  .stats-img {
    padding: 30px 0;
  }

  .card {
    flex: 1 1 50%;
    padding: 15px;
  }

  .section-content-1 p {
    font-size: 14px;
  }
}

/* ...................................................... */

/* Section 2 */
.deecee-section {
  display: flex;
  background-image: url("/img/deecee-bg.png");
  background-size: cover;
  background-position: center;
  padding: 50px;
}

.deecee-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.deecee-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.deecee-content {
  flex: 1;
  max-width: 600px;
  margin-left: 40px;
  color: whitesmoke;
  font-weight: 200;
}

.deecee-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 700;
}

.deecee-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.read-more-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: transparent;
  border: 2px solid #f0c929;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.read-more-btn:hover {
  background-color: #f0c929;
  color: #01539d;
}

.deecee-image img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .stats-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
  }
  .deecee-section {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .deecee-img {
    flex-direction: column;
    align-items: center;
  }

  .deecee-content {
    margin-left: 0;
    margin-bottom: 30px;
    max-width: 100%;
  }

  .deecee-image img {
    max-width: 80%;
    margin: 0 auto;
  }
}

/* ...................................................... */

/* Section 3 */
.features-section h1 {
  text-align: center;
  font-size: 30px;
  color: #1d4e89;
  margin-top: 40px;
}

.feature-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 40px;
  transition: transform 0.3s ease;
  width: 80%;
  justify-content: space-between;
}

.card-2 {
  margin-left: 240px;
}

.card-4 {
  margin-left: 240px;
}

.card-6 {
  margin-left: 240px;
}

.feature-card img {
  width: 200px;
  height: auto;
  margin-left: 20px;
}

.feature-content {
  max-width: 70%;
  text-align: left;
}

.feature-content h3 {
  font-size: 20px;
  color: #1d4e89;
  margin-bottom: 10px;
}

.feature-content p {
  font-size: 16px;
  color: #7a7a7a;
}

.feature-card:hover {
  transform: translateY(-5px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .feature-card {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .card-2 {
    margin-left: 0;
  }

  .card-4 {
    margin-left: 0;
  }

  .card-6 {
    margin-left: 0;
  }

  .feature-card img {
    margin-left: 0;
    margin-top: 15px;
  }

  .feature-content {
    max-width: 100%;
    text-align: center;
  }
}

/* ...................................................... */

/* Section 4 */
.bg-img {
  background-image: url("/img/testimonial-bg.png");
  background-size: cover;
  background-position: center;
}

.testimonial-section {
  text-align: center;
  padding: 80px 20px;
  border-radius: 15px;
  position: relative;
}

.testimonial-section h2 {
  font-size: 42px;
  color: #1d4e89;
  margin-bottom: 10px;
}

.testimonial-section p {
  font-size: 20px;
  color: #5e5c5c;
  margin-bottom: 40px;
}

.testimonial-slider {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  gap: 40px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.testimonial-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 50px;
  width: 400px;
  height: 300px;
  transition: transform 0.3s ease;
}

.testimonial-card p {
  font-size: 16px;
  color: #4d4c4c;
  margin-bottom: 15px;
}

.testimonial-card h4 {
  font-size: 16px;
  color: black;
  font-weight: 500;
}

.slider-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 4px;
  margin-top: 26px;
}

.slider-nav i {
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: center;
  width: 30px;
  height: 30px;
  box-shadow: #646262;
  cursor: pointer;
}

.slider-nav .dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #d3d0d0;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.slider-nav .dot.active {
  background-color: #3277cc;
}

/* Responsive Design */
@media (max-width: 768px) {
  .testimonial-slider {
    flex-direction: column;
  }

  .testimonial-card {
    max-width: 100%;
  }
}

/* ...................................................... */

/* Section 5 */
.app-promo {
  background: linear-gradient(90deg, #1f9bff 0%, #71fffd 100%);
}

.app-promo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  position: relative;
  flex-wrap: wrap;
}

.app-promo-content {
  max-width: 50%;
  color: white;
  text-align: left;
}

.app-promo-content h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.app-promo-content p {
  font-size: 22px;
  margin-bottom: 30px;
}

.app-buttons {
  display: flex;
  gap: 20px;
}

.app-buttons a img {
  max-height: 60px;
  transition: transform 0.3s ease;
}

.app-buttons a img:hover {
  transform: scale(1.05);
}

.app-image {
  position: relative;
  max-width: 50%;
  display: flex;
  justify-content: flex-end;
}

.app-image .img1 {
  width: 40%;
  height: auto;
  border: 6px solid black;
  border-radius: 28px;
  position: relative;
  z-index: 1;
  margin-right: -20px;
  margin-bottom: -50px;
}

.app-image .img2 {
  width: 50%;
  height: auto;
  border: 6px solid black;
  border-radius: 38px;
  position: relative;
  z-index: 2;
  margin-left: -20px;
  margin-top: -110px;
  margin-bottom: -50px;
}

@media (max-width: 768px) {
  .app-promo-section {
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }

  .app-promo-content {
    max-width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  .app-image {
    max-width: 100%;
    justify-content: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .app-image .img1,
  .app-image .img2 {
    width: 80%;
    margin: 0;
    margin-bottom: 20px;
  }

  .app-image .img2 {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .app-promo-content h2 {
    font-size: 28px;
  }

  .app-promo-content p {
    font-size: 16px;
  }

  .app-buttons a img {
    max-height: 50px;
  }

  .app-image .img1,
  .app-image .img2 {
    width: 90%;
  }
}

/* ...................................................... */

/* Section 6 */
.founder-bg {
  background-image: url("/img/founder-bg.png");
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

.founder-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.founder-text {
  flex: 1;
  color: rgb(233, 228, 228);
  padding: 20px;
}

.founder-text h1 {
  font-size: 35px;
}

.founder-text p {
  margin-top: 8px;
}

.founder-buttons {
  margin-top: 20px;
  display: flex;

  align-items: center;
}

.founder-buttons img {
  margin-left: 15px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.founder-buttons img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.ppp {
  margin-top: 10px;
}

.founder-img {
  width: 100%;
  max-width: 400px;
}

.founder-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.founder-image p {
  font-size: 20px;
  font-weight: 600;
  color: rgb(233, 228, 228);
}

@media (max-width: 768px) {
  .founder-content {
    flex-direction: column;
    text-align: center;
  }

  .founder-text,
  .founder-image {
    padding: 10px;
  }

  .founder-buttons img {
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .founder-buttons {
    display: flex;
    justify-content: center;
  }
}

/* ...................................................... */

